<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <H1>Oops...</H1>
    <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <table>
                <tr>
                    <td>Date</td>
                    <td th:text="${timestamp}"/>
                </tr>
                <tr>
                    <td>Path</td>
                    <td th:text="${path}"/>
                </tr>
                <tr>
                    <td>Error</td>
                    <td th:text="${error}"/>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${status}"/>
                </tr>
                <tr>
                    <td>Message</td>
                    <td th:text="${message}"/>
                </tr>
                <tr>
                    <td>Exception</td>
                    <td th:text="${exception}"/>
                </tr>
                <tr>
                    <td>Trace</td>
                    <td>
                        <pre th:text="${trace}"/>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>

  </body>
</html>