<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script>
      function display(response)
      {
        var html;
        var i;

        html='';
        html+='ID: '+response.id+'<br>';
        html+='Name: '+response.name+'<br>';
        html+='Time zone: '+response.dateTimeZone+'<br>';
        html+='Temperature unit: '+response.temperatureUnit+'<br>';
        html+='Away radius: '+response.awayRadiusInMeters+' m<br>';
        html+='Location: ('+response.latitude+', '+response.longitude+')<br>';
        html+='Presence: '+response.presence+'<br>';
        html+='Contact: '+response.contact+'<br>';
        html+='Address: '+response.addressLine1+'<br>';
        if (response.addressLine2!=null)
        {
          html+='Address: '+response.addressLine2+'<br>';
        }
        html+='Zipcode: '+response.zipCode+'<br>';
        html+='City: '+response.city+'<br>';
        html+='Country: '+response.country+'<br>';



        document.getElementById("info").innerHTML=html;
      }
      
      function loadInfo() 
      {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() 
          {
              if (this.readyState == 4 && this.status == 200) 
              {
                display(JSON.parse(this.responseText));
              }
          };
          xhttp.open("GET", "/api/home", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send("");
      }
    </script>  
  </head>
  <body onload="javascript:loadInfo();">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header"><h1>Home</h1></div>
        <div class="card-body">
          <div id="info"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <a href="/" role="button" class="btn btn-primary btn-block">
            <i class="fas fa-address-card"></i> Return
          </a>
        </div>
      </div>
    </div>

  </body>
</html>