<!DOCTYPE html>
<html>
  <head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <script>
      function display(response)
      {
        var html;

        html='';
        html+='You are '+response.presence+'<br>';
        document.getElementById("info").innerHTML=html;
      }
      
      function loadInfo() 
      {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() 
          {
              if (this.readyState == 4 && this.status == 200) 
              {
                display(JSON.parse(this.responseText));
              }
          };
          xhttp.open("GET", "/api/state/0", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send("");
      }

      function setPresence(presence)
      {
        var xhttp = new XMLHttpRequest();
        var header = document.querySelector("[name='_csrf_header'][content]").content
        var headerValue = document.querySelector("[name='_csrf'][content]").content

        xhttp.onreadystatechange = function() 
        {
            if (this.readyState == 4 && this.status == 200) 
            {
              loadInfo();
            }
        };
        xhttp.open("PUT", "/api/presence", true);
        xhttp.setRequestHeader("Content-type", "text/plain");
        xhttp.setRequestHeader(header, headerValue);
        xhttp.send(presence);        
      }
    </script>  
  </head>
  <body onload="javascript:loadInfo();">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header"><h1>Home info</h1></div>
        <div class="card-body">
          <div id="info"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2">
            <a href="javascript:setPresence('HOME')" role="button" class="btn btn-primary btn-block">
              <i class="fas fa-home"></i> Home
            </a>
          </div>
          <div class="col-sm-2">
            <a href="javascript:setPresence('AWAY')" role="button" class="btn btn-primary btn-block">
              <i class="fas fa-sign-out-alt"></i> Away
            </a>
          </div>
          <div class="col-sm-2">
            <a href="/" role="button" class="btn btn-primary btn-block">
              <i class="fas fa-backward"></i> Return
            </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>