<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <H1>Home Controller</H1>

        <p th:inline="text"><b></b>Hello [[${#httpServletRequest.remoteUser}]]!</b></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        [[${@tadoInterface.tadoMe()}]]<br>
  </body>
</html>